// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container { padding-top: 40px !important; }

#main { margin: 25px 0 0 0; }

.icon-list, .icon-ok, .icon-search {
	cursor: pointer;
	}

#batch-modal { width: 750px; }

table tr { cursor: pointer; }


.ui-selecting,
.ui-selecting td {
	color: #000;
	background-color: #F0F8FF !important;
}

.ui-selected,
.ui-selected td {
	color: #000;
	background-color: #87CEFA !important;
}

.tag_check_item {
	width: 95px;
	float: left;
}

#left tr.selected td { background-color: lightSkyBlue; }

#left .btn { margin: 15px 0; }

.modal-body .btn { margin: 20px 0; }